<form action="/{{this.burger_id}}?_method=DELETE" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-danger" type="submit">Trash It!</button>
			        </form>